.main_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: grey;
    height: 100vh;
    width: 100vw;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
    justify-items: center;
    align-items: center;

  }
.link {
    background-color: rgb(85, 85, 85);
    border-radius: 5px;
    padding-left: 18px;
    width: 75px;
    height: auto;
     
    grid-area: 2/1;
  }

  /* MENUCARD */

.menucard_wrapper {
    display: grid;
    height: 500px;
    background-color: #BCBCBC;
    width: 500px;
    align-self: center;
    justify-self: center;
    
    
    }
    .menucard_text{
      align-self: center;
      justify-self: center;
      font-size: 40px;
      font-weight: bold;
      color: rgb(65, 65, 65);
    }
    #menucard_image {
      justify-self: center;
      align-self: center;
      height: 400px;
      width: 400px;
      border-radius: 5px;
    }