/* HEADER */

#header_wrapper {
    background-color: darkgrey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 150px;
    align-self: baseline;
    padding: 10px;
    justify-items: center;
    align-items: center;
  }
  
  .header_center {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  
  .header_link:hover {
    color: #f43b37;
  }
  
  .header_link ~ .header_link {
    margin-left: 20px;
  }
  
  #logo {
    height: 120px;
    width: 140px;
    border-radius: 5px;
     
  }