.main_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: grey;
  height: 100vh;
  width: 100vw;
}

#logo {
  height: 120px;
  width: 140px;
  border-radius: 5px;
}

.div1 {
  grid-area: 2 / 1 / 4 / 5;
  background-color: antiquewhite;
}

/* FOOTER */

#footer_wrapper {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 150px;
  align-self: baseline;
}

#footer_left {
  padding: 10px;
  padding-left: 40px;
  grid-area: 1 / 1 / 2 / 2;
  background-color: antiquewhite;
  align-content: center;
  width: 100%;
}
#footer_center {
  padding: 10px;
  padding-left: 40px;
  grid-area: 1 / 2 / 2 / 3;
  background-color: antiquewhite;
  align-content: center;
  width: 100%;
}
#footer_right {
  padding: 10px;
  padding-left: 40px;
  grid-area: 1 / 3 / 2 / 4;
  background-color: antiquewhite;
  align-content: center;
  width: 100%;
}

.link:hover {
  color: #f43b37;
}

/* HEADER */

#header_wrapper {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 150px;
  align-self: baseline;
  padding: 10px;
}

.header_center {
    grid-area: 1 / 2 / 2 / 3;
     width: 100%;
    justify-content: center;
    align-items: center;

}

 
 



.header_link:hover {
 color: #f43b37;
}

.header_link ~ .header_link {
  margin-left: 20px;
}
